* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.main-container {
    display: flex;
    justify-content: flex-start;
    border: 1px solid blue;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 15px;
}